/.cache
/.build
/.run
/.bin
/.opt
/.env
/.gradle
/.settings
/.project
/kls_database.db
/Cargo.toml
/settings.gradle
/mprocs.log
/build
/erl_crash.dump
/buildscript/assets/shared.settings.gradle
/.direnv/
/.idea/
/.vite/
/config.toml.tera
